body{
   background-image: url("../images/mancity.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
th, td{
    text-align: center;
    padding: 10px;
}
table{
    width: 80%;
   /* border-collapse: collapse; */
    margin: auto;
    opacity: .6;

}
tr:nth-child(even){
    background-color: gray;
}
tr:nth-child(odd){
    background-color: lightcyan;
}
th{
    background-color: forestgreen;
    color: white;
}

.box{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    padding: 40px;
}
.after-box{
    border: 1px solid red;

}